##########
# Server #
##########

log/*.log

############
# Composer #
############

composer.lock

#########
# Silex #
#########

vendor/

###########
# eclipse #
###########

*.pydevproject
.metadata
.gradle
#bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse

# Project
.project

################
# Sublime Text #
################

*.sublime-project
*.sublime-workspace

#################
# Miscellaneous #
#################

# MAC
.DS_Store