<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="utf-8" />
		<title>PoKeDeX Alpha - {% block title %}404{% endblock %}</title>
		
		<!-- Cascading Style Sheet Head -->
		
		<!-- JavaScript Head -->
		
	</head>
	
	<body>
	
	</body>

</html>