<!DOCTYPE html>
<html lang="en">

	<head>
	
		<meta charset="utf-8" />
		<title>PoKeDeX Alpha - {% block title %}PoKeDeX Alpha{% endblock %}</title>
		
		<!-- Cascading Style Sheet Head -->
		{% block csshead %}{% endblock %}
		
		<!-- JavaScript Head -->
		{% block jshead %}{% endblock %}
		
	</head>
	
	<body>
	
		<header>
			<h1>PoKeDeX Alpha</h1>
		</header>
		
		<header class="page-header container">
			<h2>{% block heading %}PoKeDeX Alpha{% endblock %}</h2>
		</header>
		
		<section id="main" class="container">
		{% block body %}
		{% endblock %}
		</section>
		
		<footer>
		</footer>
		
		<!-- JavaScript Tail -->
		{% block jstail %}
		{% endblock %}
	
	</body>

</html>